{{ define "main" }}
<div id="home-jumbotron" class="jumbotron text-center">
	<h1 class="display-1">{{ .Site.Title }}</h1>

  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="#" aria-current="page">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>
  </ul>

  <p class="lead fs-4" style="padding-top: 1em;">
    Matthew Walters is an experienced pet sitter in San Diego.
		<br/>
    Matthew works with Dogs, Cats, and other Critters!
  </p>
</div>

<div class="container-xl" style="padding-top: 2.5em;">
  <div class="row align-items-start">
    <div class="col-6" style="mx-auto">
      <h4 class="text-left">Rates:</h4>
      <dl class="row mx-auto" style="padding-left: 5em;">
        <dt class="col-sm-3">Standard Dog</dt>
        <dd class="col-sm-9">$42/day</dd>
        <dt class="col-sm-3">Additional Dog</dt>
        <dd class="col-sm-9">+$24/day</dd>
        <dt class="col-sm-3">Puppy</dt>
        <dd class="col-sm-9">$44/day</dd>
        <dt class="col-sm-3">Standard Cat</dt>
        <dd class="col-sm-9">$28/day</dd>
        <dt class="col-sm-3">Additional Cat</dt>
        <dd class="col-sm-9">+$14/day</dd>
        <dt class="col-sm-3">House Sitting (no pets)</dt>
        <dd class="col-sm-9">Varies</dd>
      </dl>
      <br/>
      <p class="fs-5 text-center">To get to know you, your pets, the space and if Matthew will be a good fit for your needs, Matthew requests a brief introduction to the pet at the space he will be caring for.
      <p></p>

      <div class="d-grid gap-2">
        <a class="btn btn-primary fs-4" href="https://calendly.com/matthew-walters-petsitting/meetngreet">Book a Meet and Greet</a>
      </div>

      <p></p>

      <p class="fs-5 text-center">If you have already had a Meet and Greet, or if you just want to check on availability of an upcoming day, see his overnight schedule here:</p>
      <div class="d-grid gap-2">
        <a class="btn btn-secondary fs-5" href="https://calendly.com/matthew-walters-petsitting/overnight-stay">Book an Overnight Stay</a>
      </div>
    </div>
    <div class="col-2">
      <img src='Matthew-walking.png' />
    </div>
  </div>
</div>

<br/>

<div class="container text-center mx-auto" style="width: 32em; padding-top: 5em;">
  <ul class="list-group">
    <li class="list-group-item list-group-item-light fs-5" style="background-color: #FFDAC9;">Matthew Walters</li>
    <li class="list-group-item list-group-item-light fs-5">(858) 522-9443</li>
    <li class="list-group-item list-group-item-light fs-5">matthew.walters.petsitting@gmail.com</li>
    <li class="list-group-item list-group-item-light fs-5">References available upon request</li>
  </ul>
</div>

<br/>

<div class="container overflow-hidden" style="padding-top: 5em">
  <div class="row gy-5" >
    <div class="col-6">
      <img src='matthew-wildcat.png' />
    </div>
    <div class="col-6">
      <blockquote class="blockquote">
        <p class="text-center fs-2">Matthew did a wonderful job taking care of our two pups. He also did various tasks around the house, like watering our plants and feeding our fish as well! I definitely recommend Matthew to take care of our pups(and your home if you need a housesitter too!)</p>
        <figcaption class="blockquote-footer">
          Liz C.
        </figcaption>
      </blockquote>
    </div>
  </div>

  <div class="row" style="padding-top: 5em;">
    <div class="col-6">
      <blockquote class="blockquote">
        <p class="text-center fs-2">Matthew was a terrific and detailed caretaker for our cat and dog as well as house sitter. He kept us updated with pictures each day and we were able to answer any questions he had.</p>
        <figcaption class="blockquote-footer">
          Daniel L.
        </figcaption>
      </blockquote>
    </div>
    <div class="col-2">
      <img src='Matthew-chillin.png' />
    </div>
  </div>
</div>

{{ end }}
