{{ define "main" }}
<div id="home-jumbotron" class="jumbotron text-center">
  <h1 class="display-1">{{ .Site.Title }}</h1>

  <p class="lead">
  Matthew Walters is an experienced pet sitter in San Diego.
  Matthew works with Dogs, Cats, and other Critters!
  </p>

  <div class="container">
    <div class="row align-items-start">
      <div class="col-5">
        <h4 class="text-left">Rates:</h4>
        <dl class="row">
          <dt class="col-sm-3">Standard Dog</dt>
          <dd class="col-sm-9">$42/day</dd>
          <dt class="col-sm-3">Additional Dog</dt>
          <dd class="col-sm-9">+$24/day</dd>
          <dt class="col-sm-3">Puppy</dt>
          <dd class="col-sm-9">$44/day</dd>
          <dt class="col-sm-3">Standard Cat</dt>
          <dd class="col-sm-9">$28/day</dd>
          <dt class="col-sm-3">Additional Cat</dt>
          <dd class="col-sm-9">+$14/day</dd>
          <dt class="col-sm-3">House Sitting (no pets)</dt>
          <dd class="col-sm-9">Varies</dd>
        </dl>
	<p></p>
	<p>To get to know you, your pets, the space and if Matthew will be a good fit for your needs, Matthew requests a brief introduction to the pet at the space he will be caring for.
	<p></p>
	<a href="https://calendly.com/matthew-walters-petsitting/meetngreet"><button type="button" class="btn btn-primary">Book a Meet and Greet on Calendly</button></a>
	<p></p>
	<p>If you have already had a Meet and Greet, or if you just want to check on availability of an upcoming day, see his overnight schedule here:</p>
	<a href="https://calendly.com/matthew-walters-petsitting/overnight-stay"><button type="button" class="btn btn-secondary">Book an Overnight Stay</button></a>
	<p></p>
	<p>If you have any questions, feel free to reach out!</p>
        <h5>(858) 522-9443</h5>
        <h5>matthew.walters.petsitting@gmail.com</h5>
        <p>References available upon request</p>
      </div>
      <div class="col-2">
	<img src='Matthew-walking.png' />
      </div>
    </div>
  </div>

  <blockquote class="blockquote">
    <p>Matthew was a terrific and detailed caretaker for our cat and dog as well as house sitter. He kept us updated with pictures each day and we were able to answer any questions he had.</p>
    <figcaption class="blockquote-footer">
      Daniel L.
    </figcaption>
  </blockquote>

  <img src='Matthew-chillin.png' />

  <blockquote class="blockquote">
    <p>Matthew did a wonderful job taking care of our two pups. He also did various tasks around the house, like watering our plants and feeding our fish as well! I definitely recommend Matthew to take care of our pups(and your home if you need a housesitter too!)</p>
    <figcaption class="blockquote-footer">
      Liz C.
    </figcaption>
  </blockquote>

  <img src='matthew-wildcat.png' />
</div>
{{ end }}
